<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mes Livres</title>
</head>
<body>
<h1>Mes Livres</h1>

<div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="livre : ${listLivres}">
                <td th:text="${livre.id}"></td>
                <td th:text="${livre.titre}"></td>
                <td th:text="${livre.auteur}"></td>
                <td th:text="${livre.genre}"></td>
            </tr>
        </tbody>
    </table>
</div>



</body>
</html>